
@{
    ViewBag.Title = "Bize Ulaşın";
}


<!-- contact area start -->
<div class="contact-area section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="contact-info">
                    <h4 class="contact-title">Bize Ulaşın</h4>
                    <p>
                        Firmamızın ürünlerine ve daha fazlasına; Whatsapp, <a href="">İnstagram</a>, <a href="">Trendyol</a>, <a href="">Çiçeksepeti</a>, <a href="">Hepsiburada</a> ve <a href="">Gittigidiyor</a> üzerinden ulaşabilirsiniz.
</p>
                    <ul>

                        <li><i class="fa fa-phone"></i> E-mail: estivasilver@gmail.com</li>
                        <li><i class="fa fa-envelope-o"></i> +90549 737 2445</li>
                        

                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</div>

@section  Scripts{
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfmCVTjRI007pC1Yk2o2d_EhgkjTsFVN8"></script>
    <!-- google map active js -->
    <script src="/Content/assets/js/plugins/google-map.js"></script>
}
